<div class="product" >
  <div class="col-1">
    <h1>Products</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      voluptatum vitae vel voluptatibus sapiente ex mollitia distinctio
      excepturi sit labore fugit, alias aperiam, hic voluptatem nulla ipsum a
      dolorum commodi odit qui similique saepe quisquam autem.
    </p>
  </div>
  <div class="col-2">
    <div class="content">
      <p class="title">
        Pay per click<br />
        advertising
      </p>
      <div class="img-div">
        <img src="assets/images/click.svg" alt="click icon" />
      </div>
    </div>
  </div>
</div>
