@use "../../../../styles/base/variables";
@use "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/buttons";

header {
  width: 100%;
  @include flex-layout(column, center, center, 1rem);
  // height: 100vh;

  .header-wrapper {
    height: 100%;
    padding: 2.4rem 8rem;
    @include flex-layout(column, center, center, 1rem);

    .col-1 {
      @include flex-layout(row, center, center, 1rem);
      width: 100%;
      height: 10rem;

      .col-1__logo {
        @include flex-layout(row, center, space-between);
        width: 100%;

        .logo-div {
          // width: 30rem;

          h1 {
            font-size: $ft-size-m;
            font-weight: 700;
          }
        }

        .btn {
          @include button(inherit, none, var(--text));
          border: 0.3rem solid var(--text);
        }
      }

      .theme-icon {
        cursor: pointer;
        margin-left: 20rem;
      }
    }

    .col-2 {
      width: 100%;
      // height: 70vh;
      @include flex-layout(row, start, start, 2rem);
      padding: 0 1.2rem;

      .text {
        @include flex-layout(column, start, center, 5rem);
        width: 60%;
        height: 100%;

        h1 {
          font-size: 7rem;
          font-weight: 700;
          width: 70%;
        }

        p {
          font-size: $ft-size-m;
          width: 70%;
        }

        .btn {
          @include button(_, var(--button), var(--button-text));
          font-weight: 600;
          width: 30rem;
          transition: all 0.3s ease;

          &:hover {
            box-shadow: 3px 3px 0px 0px var(--accent);
          }
        }
      }

      .illustrator-div {
        width: 40%;
      }
    }

    .col-3 {
      width: 100%;
      @include flex-layout(row, center, space-between, null);
      margin-top: 2rem;

      img {
        width: 10rem;
        margin-right: 10rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .header-wrapper {
      // background-color: red;
      height: 100vh;

      .col-1 {
        height: 20rem;
      }

      .col-2 {
        width: 100%;

        .text {
          width: 50%;

          h1 {
            font-size: 4rem;
            font-weight: 700;
            width: 90%;
          }

          p {
            font-size: $ft-size-s;
            width: 100%;
          }

          .btn {
            @include button(_, var(--button), var(--button-text));
            font-weight: 600;
            width: 30rem;
            transition: all 0.3s ease;

            &:hover {
              box-shadow: 3px 3px 0px 0px var(--accent);
            }
          }
        }

        .illustrator-div {
          width: 50%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  header {
    .header-wrapper {
      .col-1 {
        height: 20rem;
      }

      .col-2 {
        @include flex-layout(column-reverse, center, center, 2rem);

        .text {
          width: 100%;
          text-align: center;

          h1 {
            width: 90%;
          }

          p {
            width: 100%;
          }

          .btn {
            margin: auto;
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  header {
    width: 100%;
    height: auto;

    .header-wrapper {
      padding: 0;

      .col-1 {
        height: 20rem;
        padding: 2rem;
      }

      .col-2 {
        @include flex-layout(column-reverse, center, center, 2rem);

        .text {
          width: 100%;
          text-align: center;

          h1 {
            width: 90%;
          }

          p {
            width: 100%;
          }

          .btn {
            margin: auto;
          }
        }
      }
    }
  }
}
