@mixin fadeIn($duration: 0.5s, $delay: 0s) {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeIn $duration $delay ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
