<div class="services" [ngClass]="{ 'fade-in': visible }">
  <div class="col-1">
    <h1>Services</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      voluptatum vitae vel voluptatibus sapiente ex mollitia distinctio
      excepturi <br />sit labore fugit, alias aperiam, hic voluptatem nulla
      ipsum a dolorum commodi odit qui similique saepe quisquam autem.
    </p>
  </div>
  <div class="col-2">
    <div class="content">
      <p class="title">
        Search Engine<br />
        Optimization
      </p>
      <div class="img-div">
        <img src="assets/images/seo.svg" alt="seo icon" />
      </div>
    </div>
  </div>
</div>
